<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../node_modules/materialize-css/dist/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../assets/css/materialize-rtl.min.css" />
    <link rel="stylesheet" href="../assets/css/all.css" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
  </head>

  <body class="rtl">
    <div class="wrapper">
      <!-- titlebar -->
      <div class="titlebar">
        <img class="titlebar__icon" src="../assets/icons/icon-512.png" />
        <div id="titlebar__title" class="titlebar__title">
          استعلام قیمت
        </div>
        <div class="titlebar__controls">
          <!-- devtools button -->
          <button
            id="devtoolsBtn"
            class="btn-flat waves-effect waves-teal tooltipped"
            data-position="bottom"
            data-tooltip="dev tools"
          >
            <i class="fas fa-bug"></i>
          </button>

          <!-- settings button -->
          <button
            id="settingsBtn"
            class="btn-flat waves-effect waves-teal tooltipped"
            data-position="bottom"
            data-tooltip="تنظیمات"
          >
            <i class="fas fa-cog"></i>
          </button>

          <!-- minimize button -->
          <button
            id="minimizeBtn"
            class="btn-flat waves-effect waves-teal tooltipped"
            data-position="bottom"
            data-tooltip="مخفی کن"
          >
            <i class="fas fa-minus"></i>
          </button>

          <!-- maximize button -->
          <button
            id="maximizeBtn"
            class="btn-flat waves-effect waves-teal tooltipped"
            data-position="bottom"
            data-tooltip="تمام صفحه"
          >
            <i class="fas fa-expand"></i>
          </button>

          <!-- exit button -->
          <button
            id="closeBtn"
            class="btn-flat waves-effect waves-teal tooltipped"
            data-position="bottom"
            data-tooltip="خروج"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <!-- main -->
      <div class="main">
        <!-- searchbox -->
        <div class="searchbox row">
          <div class="searchbox__input input-field col s12">
            <i class="fas fa-search prefix"></i>
            <input type="text" id="searchbox" name="searchbox" />
            <label for="searchbox">بارکد یا نام کالا را وارد کنید...</label>
          </div>
        </div>

        <!-- item information -->
        <div class="item-details">
          <div class="row">
            <!-- title and info msg -->
            <div class="col s12">
              <!-- <div class="item-details__title">مشخصات کالا</div> -->
              <div class="item-details__info">
                جهت اطلاع از قیمت هر محصول، بارکد محصول را با فاصله 15 الی 20
                سانتی متر از دستگاه بارکدخوان قرار دهید
              </div>
            </div>

            <!-- item name, barcode, desc-->
            <div class="col m12 l6">
              <div class="input-field col s12">
                <label for="itemName">عنوان کالا</label>
                <input type="text" name="itemName" id="itemName" />
              </div>
              <div class="input-field col s12">
                <label for="itemBarcode">بارکد</label>
                <input type="text" name="itemBarcode" id="itemBarcode" />
              </div>
              <div class="input-field col s12">
                <textarea
                  class="materialize-textarea"
                  id="itemDesc"
                  rows="5"
                ></textarea>
                <label for="itemDesc">توضیحات</label>
              </div>
            </div>

            <!-- item price-->
            <div class="col m12 l6">
              <div class="item-price">
                <div class="item-price__title">
                  قیمت کالا:
                </div>
                <div class="item-price__price">
                  <div id="itemPrice" class="item-price__value">--</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- statusbar -->
      <div class="statusbar">
        <div id="statusMsg" class="statusbar__msg"></div>
        <div class="statusbar__icons">
          <i
            id="databaseStatus"
            class="fas fa-database tooltipped disconnected"
            data-position="top"
            data-tooltip="اتصال پایگاه داده"
          ></i>
        </div>
      </div>
    </div>
  </body>

  <script>
    require("materialize-css");
  </script>
  <script src="../src/index.js"></script>
</html>
