<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="../node_modules/materialize-css/dist/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../assets/css/materialize-rtl.min.css" />
    <link rel="stylesheet" href="../assets/css/all.css" />
    <link rel="stylesheet" href="../assets/css/app.css" />
    <link rel="stylesheet" href="../assets/css/setting.css" />
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <title>تنظیمات</title>
  </head>

  <body class="rtl">
    <div class="wrapper">
      <div class="titlebar">
        <div class="titlebar__title">
          تنظیمات
        </div>
        <div class="titlebar__controls">
          <!-- exit button -->
          <button id="closeBtn" class="btn-flat waves-effect waves-teal">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="main">
        <div class="row">
          <!-- Store Name -->
          <div class="input-field col s6">
            <input id="storeName" type="text" />
            <label for="storeName">نام فروشگاه</label>
          </div>

          <!-- pincode -->
          <div class="input-field col s6">
            <input id="pincode" type="password" />
            <label for="pincode">رمز کاربری</label>
          </div>

          <!-- db user name -->
          <div class="input-field col s6">
            <input id="dbUsername" type="text" />
            <label for="dbUsername">نام کاربری سرور</label>
          </div>

          <!-- db password -->
          <div class="input-field col s6">
            <input id="dbPassword" type="password" />
            <label for="dbPassword">رمز عبور سرور</label>
          </div>

          <!-- database -->
          <div class="col s12">
            <div class="input-field inline">
              <input id="server" type="text" />
              <label id="server-label" for="server">نام سرور</label>
              <span class="helper-text" data-error="اتصال ناموفق" data-success="اتصال موفق">
                وضعیت اتصال به سرور
              </span>
            </div>
            <button id="connect" class="btn waves-effect waves-light">
              <div class="connectBtn">
                <div class="connectBtn__text">اتصال</div>
                <div class="preloader-wrapper small connectBtn__spinner">
                  <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </button>
          </div>

          <!-- database -->
          <div class="input-field col s12">
            <select id="database">
              <option value="" disabled selected>دیتابیس را انتخاب کنید</option>
            </select>
            <label>دیتابیس</label>
          </div>

          <!-- item columns-->
          <div class="input-field col s12">
            <select id="columns" multiple>
              <option value="" disabled selected
                >مشخصات کالا را انتخاب کنید</option
              >
            </select>
            <label>مشخصات کالا</label>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <button
              id="saveBtn"
              class="btn waves-effect waves-light light-green"
            >
              ذخیره
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../src/setting.js"></script>
</html>
