html,
body {
  font-size: var(--font-size-medium) !important;
}

.main {
  display: grid;
  justify-items: stretch;
  grid-template-rows: 5rem calc(100% - 5rem);
}

.titlebar__title h6 {
  font-size: 0.8rem;
}

.searchbox {
  width: 100%;
  padding: 10px 30px;
}

.item-details {
  padding: 0px 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.item-details__title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.item-details__info {
  font-size: 0.9rem;
  text-align: center;
  background-color: #ffeb3b;
  color: #2196f3;
  padding: 10px;
  border-radius: 50px;
}

.item-price {
  display: flex;
  flex-direction: column;
}

.item-price__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.item-price__price {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.item-price__value {
  flex-grow: 0;
}

.item-price__unit {
  flex-grow: 1;
  text-align: center;
}

@media (min-width: 768px) {
  html,
  body {
    font-size: var(--font-size-medium) !important;
  }
}

@media (min-width: 992px) {
  html,
  body {
    font-size: var(--font-size-large) !important;
  }

  .item-price {
    padding: 50px 0px;
  }
}
