.main {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 120px calc(100% - 120px);
}

.searchbox {
    width: 100%;
    padding: 10px 30px;
}

.item-details {
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-details__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}