html,
body {
  font-size: var(--font-size-small);
}

.wrapper {
  grid-template-rows: 50px calc(100% - 50px);
}

.main {
  padding: 20px;
}

#server {
  direction: ltr;
  font-family: serif !important;
}

#server-label {
  left: inherit;
  right: 0.75rem;
}

#connect {
  margin-right: 25px;
}

.connectBtn {
  display: flex;
  align-items: center;
}

.connectBtn__text {
  flex-grow: 1;
}

.connectBtn__spinner {
  position: absolute;
  left: 15px;
  width: 20px !important;
  height: 20px !important;
  flex-grow: 0;
}
